diffsynth
torch
torchvision
transformers
controlnet-aux==0.0.7
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
pandas
accelerate
peft
gradio>=5.0.0
numpy>=1.23.5,<2
yunchang==0.6.0
opencv-python-headless
strenum
easydict
tqdm
dashscope
ftfy
imageio-ffmpeg
datasets